services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3100:81"
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "3010:80"